## Tutorial - 1 of Basics of Python

In [3]:
# Print Function

In [2]:
print("Hello World")
print("Welcome to my World")

Hello World
Welcome to my World

In [3]:
# Single Line and Multiline Comments
# this is a Single line comment.
# for Multiple Line Comment is use 6 Quots.Example Given Below
'''this is multiple line comment'''

print("Hello")

Hello

In [4]:
# Variable declaration

a = 10

type(a)  # Show Data type we use type()

int

In [5]:
print(a)

10

In [6]:
tenth = 10
b = 40
c = "Raz"

In [7]:
type(c)

str

In [9]:
# We can not start a varibale name with Number it shows Error (invalid syntax). Exapmle givent below
 #Ex : - 12name

In [10]:
12name  = "Raaz"

SyntaxError: invalid syntax (3334370253.py, line 1)

In [12]:
first_name = "Raaz"
print(first_name)

Raaz

In [13]:
## intergers
a = 10
type(a)

int

In [14]:
a+10

20

In [15]:
a*20

200

In [16]:
a/10

1.0

In [17]:
a//10

1

In [18]:
a%10

0

In [19]:
print(type(a))

<class 'int'>

In [20]:
a = 10
b = 20
print(a+b)

30

In [23]:
#floating 
a = 190.5

In [24]:
print(a)

190.5

In [22]:
type(a)

float

In [25]:
# convert float to int is called (Type casting)

In [26]:
int(a)

190

In [ ]:
# Convert int to float is called (Type casting)

In [27]:
float(b)

20.0

In [28]:
#Boolean

In [29]:
a1  = True
b1 = False

In [30]:
type(a1)

bool

In [32]:
a1 and b1

False

In [33]:
a1 or b1

True

In [34]:
a1 | b1  #(Or = |)

True

In [36]:
#Strings
name1 = "Raaz"
print(name1)
print(type(name1))

Raaz
<class 'str'>

In [39]:
name1 + 1  # daynamic typing and strong typing

TypeError: can only concatenate str (not "int") to str

In [40]:
name1 + str(1) # daynamic typing and strong typing

'Raaz1'

In [42]:
#complex Number
j = 1.0-2.3j 
j

(1-2.3j)

In [43]:
print(j.real,j.imag)

1.0 -2.3

In [44]:
#dynamic Typing

In [45]:
a = 10
a = "Raaz"

In [48]:
#strong typing
a = 'Raaz'

In [49]:
a + '1'

'Raaz1'

In [51]:
a + str(1)

'Raaz1'

In [52]:
#string formatting

In [53]:
a = 100

print("The value is - ",a)

The value is -  100

In [57]:
first_name = "Raaz"
last_name = "Developer"
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is Raaz and last name is Developer

In [58]:
first_name = "Raaz"
last_name = "Developer"
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is Raaz and last name is Developer

In [59]:
# when i change formatting last name to first name
first_name = "Raaz"
last_name = "Developer"
print("The first name is {0} and last name is {1}".format(last_name,first_name))

The first name is Developer and last name is Raaz

In [60]:
#When i change the place holder value
first_name = "Raaz"
last_name = "Developer"
print("The first name is {1} and last name is {0}".format(last_name,first_name))

The first name is Raaz and last name is Developer

In [61]:
#When i assign the placeholder value
first_name = "Raaz"
last_name = "Developer"
print("The first name is {a} and last name is {b}".format(b = last_name,a = first_name))

The first name is Raaz and last name is Developer

In [62]:
## input type
input("Enter the name")

Enter the nameRaaz

'Raaz'

In [67]:
# input type
a = input("Enter the number A = ")
b = input("Enter the number B = ")
print(int(a)+int(b))

Enter the number A = 50
Enter the number B = 50
100